DAN_XLI_Marko_Lokas/PrintDoc/obj/Debug/App.g.i.cs
DAN_XLI_Marko_Lokas/PrintDoc/obj/Debug/MainWindow.g.i.cs
DAN_XLI_Marko_Lokas/PrintDoc/obj/Debug/PrintDoc_MarkupCompile.i.lref
DAN_XLI_Marko_Lokas/PrintDoc/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DAN_XLI_Marko_Lokas/PrintDoc/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DAN_XLI_Marko_Lokas/PrintDoc/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DAN_XLI_Marko_Lokas/.vs/DAN_XLI_Marko_Lokas/v15/Server/sqlite3/db.lock
DAN_XLI_Marko_Lokas/.vs/DAN_XLI_Marko_Lokas/v15/Server/sqlite3/storage.ide
DAN_XLI_Marko_Lokas/.vs/DAN_XLI_Marko_Lokas/v15/Server/sqlite3/storage.ide-shm
DAN_XLI_Marko_Lokas/.vs/DAN_XLI_Marko_Lokas/v15/Server/sqlite3/storage.ide-wal
DAN_XLI_Marko_Lokas/PrintDoc/obj/Debug/App.g.cs
DAN_XLI_Marko_Lokas/PrintDoc/obj/Debug/MainWindow.baml
DAN_XLI_Marko_Lokas/PrintDoc/obj/Debug/MainWindow.g.cs
DAN_XLI_Marko_Lokas/PrintDoc/bin/Debug/PrintDoc.exe.config
DAN_XLI_Marko_Lokas/PrintDoc/obj/Debug/PrintDoc.csproj.FileListAbsolute.txt
DAN_XLI_Marko_Lokas/PrintDoc/obj/Debug/PrintDoc.g.resources
DAN_XLI_Marko_Lokas/PrintDoc/obj/Debug/PrintDoc.Properties.Resources.resources
DAN_XLI_Marko_Lokas/PrintDoc/obj/Debug/PrintDoc_MarkupCompile.lref
DAN_XLI_Marko_Lokas/PrintDoc/bin/Debug/MaterialDesignThemes.Wpf.xml
DAN_XLI_Marko_Lokas/PrintDoc/obj/Debug/App.baml
DAN_XLI_Marko_Lokas/PrintDoc/obj/Debug/PrintDoc.csproj.CopyComplete
